/.vs/*
/.vscode/*
*.exe
*.obj
*.pdb
*.iobj
*.ipdb
*.ilk
*.idb
*.log
*.tlog
*.res
*.mdmp
*.sdf
*.opensdf
*.aps
*.cso
*.VC.db
*.VC.opendb
*.user
**/Debug/*
**/Release/*
*.unsuccessfulbuild
*.lastbuildstate
/bin/*
/obj/*
